

h1{
    color: #ffffff;
    font-family: "Kanit-Medium", Helvetica;
    font-size: 3vh;
    position: relative;
    font-weight: 600;
    line-height: 150%;
}

li,p{

    color: #ffffff;

    font-family: "Kanit-Medium", Helvetica;
    font-size: 2vh;
    position: relative;
    font-weight: 600;
    line-height: 150%;
}

.descrizione{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-direction: column;
}


.conclusioni{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    flex-direction: column;

    border-radius: 30px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.pregi{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-direction: column;
        background-color: #2e2e2e;
        border-radius: 30px;
        padding-left: 1vw;
        padding-right: 1vw;

   
}

.difetti{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column;
    background-color: #2e2e2e;
    border-radius: 30px;
    padding-left: 1vw;
    padding-right: 1vw;

}

.pezzi-a-parte{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    flex-direction: column;
    background-color: #2e2e2e;
    border-radius: 30px;
    padding-left: 1vw;
    padding-right: 1vw;


}









@media (max-width: 768px) {

    h1{
        font-size: 3vh;
    }

    li,p{
        font-size: 2.5vh;
    }

    .descrizione{
        width: 90%;
    }

    .conclusioni{
        width: 90%;
    }

    .pregi,
    .difetti{
        width: 90%;
    }

    .pezzi-a-parte{
        max-width: 90%;
    }



}